// $font-main: "Raleway", sans-serif;
// $font-button: "Open Sans", sans-serif;
// $font-title: "Roboto", sans-serif;

:root {
    --gray-dark-color: #666666;
    --gray-medium-color: #898f8f;
    --dark-color: #333333;
    --gray-light-color: #cccccc;
    --brand-color: #ffcc00;
    --light-color: #ffffff;
}
