:root {
    --gray-dark-color: #666666;
    --gray-medium-color: #898f8f;
    --dark-color: #333333;
    --gray-light-color: #cccccc;
    --gray-light-color-10: rgba(204, 204, 204, 0.1);
    --brand-color: #ffcc00;
    --brand-color-50: rgba(255, 204, 0, 0.5);
    --light-color: #ffffff;
}
