body {
    margin: 0;
    color: var(--dark-color);
    background-color: var(--light-color);
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
