.info {
    width: 1030px;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__img {
        position: relative;
        display: inline-block;
        padding: 15px;

        img {
            width: 400px;
            height: 400px;
            object-position: center;
            overflow: hidden;
            border: 1px solid var(--brand-color);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: none;
        }
        &::before {
            background: linear-gradient(#f4b400 0 0) top left,
                linear-gradient(#f4b400 0 0) top right,
                linear-gradient(#f4b400 0 0) bottom left,
                linear-gradient(#f4b400 0 0) bottom right;
            background-size: 100px 1px;
            background-repeat: no-repeat;
        }

        &::after {
            background: linear-gradient(#f4b400 0 0) top left,
                linear-gradient(#f4b400 0 0) bottom left,
                linear-gradient(#f4b400 0 0) top right,
                linear-gradient(#f4b400 0 0) bottom right;
            background-size: 1px 100px;
            background-repeat: no-repeat;
        }
    }

    &__line {
        width: 1px;
        height: 560px;
        background-color: var(--brand-color);
    }

    &__text {
        width: 430px;
        height: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &--name {
            font-size: 36px;
            color: var(--gray-dark-color);
            font-weight: 900;
        }

        &--line {
            width: 100px;
            height: 1px;
            background-color: var(--brand-color);
        }

        &--position {
            font-size: 24px;
            line-height: 1.5;
            font-weight: 400;
            color: var(--gray-dark-color);
        }
    }

    &__list {
        display: flex;
        gap: 5px;

        &--link {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--gray-light-color);
            border-radius: 50%;
            color: var(--gray-light-color);

            &--icon {
                fill: var(--gray-light-color);

                &:hover {
                    fill: var(--brand-color);
                }
            }

            &:hover {
                color: var(--brand-color);
                border-color: var(--brand-color);
                background-color: var(--gray-light-color-10);
                box-shadow: 2px 4px 4px var(--gray-light-color);
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        &--text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            text-align: center;
        }

        &--paragraph {
            font-size: 14px;
            line-height: 1.7;
            font-weight: 500;
            color: var(--dark-color);
        }

        &--line {
            position: relative;
            width: 20px;
            height: 4px;
            background-color: var(--brand-color);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 25px;
                width: 10px;
                height: 5px;
                background-color: var(--brand-color);
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 25px;
                width: 10px;
                height: 4px;
                background-color: var(--brand-color);
            }
        }

        &--button {
            padding: 5px 10px;
            border: 1px solid var(--brand-color);
            background-color: transparent;
            font-size: 14px;
            font-weight: 900;
            text-transform: uppercase;
            color: var(--gray-dark-color);

            &:hover {
                background-color: var(--brand-color-50);
                box-shadow: 0 4px 6px var(--dark-color);
            }
        }
    }
}
